.login-panel {
  border: 1px solid #dddddd;
  border-radius: 2px;
  position: fixed;
  right: 50px;
  bottom: 30px;
}
.custom-class {
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: blue;
}
